<section class="about-section-5 pt-130 pb-130">
  <div class="container">
    <div class="row gy-lg-0 gy-4">
      <div class="col-lg-6">
        <div class="about-content-5">
          <div class="section-heading">
            <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">
              Why Choose ProtoFlow?
            </h4>
            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">
              Our Focus Is Earning Trust Through Outcomes
            </h2>
          </div>
          <div class="about-tab">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                  Our Mission
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                  Our Vision
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                  type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                  Our Goal
                </button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h3 class="title">Our Mission Is...</h3>
                <p class="mb-20">
                  To simplify automation and AI for busy teams and not just follow the hype.</strong>
                </p>
                <p class="mb-0">
                  We help SMEs replace slow, manual workflows with systems that are fast, reliable, and right-sized. Our
                  mission is to deliver automation and AI that’s useful, understandable, and built around real
                  operations.
                </p>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h3 class="title">Our Vision Is...</h3>
                <p class="mb-20">
                  To be the most trusted automation partner for growing businesses.
                </p>
                <p class="mb-0">
                  We believe every team — no matter the size, deserves tools that save time, reduce errors, and scale
                  with
                  them. That’s why we build systems that balance modern tech with plain logic, and always leave clients
                  in control.
                </p>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <h3 class="title">Our Goal Is...</h3>
                <p class="mb-20">
                  To deliver clear wins, fast—and build long-term relationships.
                </p>
                <p class="mb-0">
                  We start small, ship fast, and show value early. Whether it’s one workflow or ten, we aim to become a
                  reliable partner you can call when something breaks—or when you’re ready to grow.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-img-wrap-5">
          <div class="shapes">
            <div class="shape shape-1">
              <img src="/assets/images/shapes/about-shape-4.png" alt="web design shape" />
            </div>
            <div class="shape shape-2">
              <img src="/assets/images/shapes/about-shape-5.png" alt="web design shape" />
            </div>
          </div>
          <div class="about-img reveal">
            <img class="img-1" src="/assets/images/images/intro1.jpg" alt="about protoflow" />
          </div>
          <div class="about-img-2 reveal">
            <img class="img-2" src="/assets/images/images/service2.jpg" alt="about protoflow" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./ about-section -->